
.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
 }
 
 .content-app {
   display: flex;
 }
 
 .container-title {
   width: 800px;
   display: flex;
   justify-content: space-between;
 }
 
 input {
     width: 80%;
     height: 30px;
     border-radius: 5px;
     border: 1px solid #000;
     padding: 10px;
     margin-right: 10px;
 
 }
 
 button {
   width: 20%;
   height: 50px;
   border-radius: 5px;
   background: #000;
   padding: 10px;
   border: none;
   color: white;
   font-weight: bolder;
   cursor: pointer;
   font-size: 16px;
 }
 
 .container-card {
   padding-bottom: 20px;
   padding-left: 10px;
   padding-top: 10px;
   margin-top: 20px;
   width: 800px;
   display: flex;
   flex-direction: column;
   align-items: baseline;
   justify-content: space-evenly;
   border-radius: 5px;
   background-color: rgb(172, 197, 172);
   color: #000;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }

 

 